<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"> 
    <title>¿Qu&eacute; visitar en Anguciana?</title>
    <link rel="icon" href="../assets/images/favicon.png" type="image/png">
  </head>
  <body>
    <!-- Cabecera -->
    <include src="./views/header.html"></include>

    <!-- Contenedor Principal -->
    <div class="container">
    

      
      <main class="container__main">
        <!-- Añado esta capa pero la oculto, porque sino hay un enlace a mi pagina, parcel no me permite referenciarlo -->
        <div class="container__main__hidden">
            <a href="../views/detalle-olabarri.html">enlace oculto</a>
        </div>
            <div class="container__main__grid">           
                <div class="container__main__grid__card" data="olabarri">
                    <h2>Viña Olabarri</h2>
                    <img src="../assets/images/olabarri-400.webp" alt="Imagen de Viña Olabarri" loading="lazy">
                    <p>Uno de los mejores caldos de toda La Rioja Alta</p>
                </div>            
            <div class="container__main__grid__card" data="torre">
                <h2>Torre fuerte de los Salcedo</h2>
                <img src="../assets/images/torre-400.webp" alt="Imagen de la Torre Fuerte de los Salcedo" loading="lazy">
                <p>Descubre los secretos de la Torre de los Salcedo</p>
            </div>
            <div class="container__main__grid__card" data="san-martin">
                <h2>Iglesia de San Martín</h2>
                <img src="../assets/images/san-martin-400.webp" alt="Imagen de la Iglesia de San Martín" loading="lazy">
                <p>Uno de los retablos más antiguos de La RIoja</p>
            </div>
            <div class="container__main__grid__card" data="oreca">
                <h2>Ermita de Oreca</h2>
                <img src="../assets/images/oreca-400.webp" alt="Imagen de la Ermita de Oreca" loading="lazy">
                <p>Descubre la famosa tradición de las aceitunas</p>
            </div>
            <div class="container__main__grid__card" data="esclavitud">
                <h2>Ermita de la Esclavitud</h2>
                <img src="../assets/images/esclavitud-400.webp" alt="Imagen de la Ermita de la Esclavitud" loading="lazy">
                <p>Ermita de peregrinaje camino de Gembres</p>
            </div> 
            <div class="container__main__grid__card" data="tiron">
                <h2>Puente sobre el río Tirón</h2>
                <img src="../assets/images/tiron-400.webp" alt="Imagen del puente sobre el rio Tiron" loading="lazy">
                <p>Puente romano en la localida vecina de Cihuri</p>
            </div>        
      </main>
      
    </div>
    </div>
    <!-- Footer -->
    <include src="./views/footer.html"></include>
    <script defer type="module" src="../assets/scripts/app.js"></script> 
  </body>
</html>
