<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"> 
    <title>Datos Relativos a Viña Olabarri</title>
    <link rel="icon" href="../assets/images/favicon.png" type="image/png">
  </head>
  <body>
    

    <!-- Cabecera -->
    <include src="./views/header.html"></include>
    <!-- Contenedor Principal -->
    <div class="container">
      <main class="container__main">


        <img src="../assets/images/olabarri-1200.webp"
        srcset="../assets/images/olabarri-400.webp 400w,
               ../assets/images/olabarri-800.webp 800w,
               ../assets/images/olabarri-1200.webp 1200w"
        sizes="(max-width: 400px) 100vw,
               (max-width: 800px) 100vw,
               1200px"
        alt="Imagen amancer en olabarri" class="container__main__image" loading="lazy">

        <section class="container__main__section">
            <h1><i class="fa fa-history"></i>Historia de la Bodega</h1>
            <p>La <strong>Bodega Viña Olabarri</strong> fue fundada en el año 1958, en el corazón de <strong>Anguciana</strong>, y desde entonces ha sido un símbolo de calidad y tradición en la <abbr title="Denominación de Origen Calificada">DOC</abbr> Rioja. Con una historia rica en dedicación y pasión por el vino, Viña Olabarri ha mantenido su esencia familiar y su compromiso por producir vinos de alta calidad. La bodega se sitúa en un edificio histórico que ha sido cuidadosamente restaurado para preservar su arquitectura original, lo que permite a los visitantes experimentar un entorno único mientras exploran las bodegas.</p>
            <img src="../assets/images/visita-1200.jpg"
            srcset="../assets/images/visita-400.jpg 400w,
                   ../assets/images/visita-800.jpg 800w,
                   ../assets/images/visita-1200.jpg 1200w"
            sizes="(max-width: 400px) 100vw,
                   (max-width: 800px) 100vw,
                   1200px"
            alt="Visita a la bodega" loading="lazy">
        </section>
        


        <section class="container__main__section">
            <h1><i class="fa fa-wine-glass"></i>Vinos Destacados</h1>
            <p>Viña Olabarri ofrece una amplia variedad de vinos, todos elaborados con uvas de viñedos propios y seleccionados. Entre sus vinos más destacados se encuentran:</p>
            <ul class="container__main__section__wines">
                <li>
                    <div class="container__main__section__wines__info">
                      <strong>Viña Olabarri Crianza</strong>: Suave y equilibrado, con toques de madera y fruta madura. Ideal para acompañar platos de la cocina mediterránea.
                    </div>
                    
                    <figure class="container__main__section__wines__image">
                      <img src="../assets/images/crianza-1200.png"
                      srcset="../assets/images/crianza-400.png 400w,
                             ../assets/images/crianza-800.png 800w,
                             ../assets/images/crianza-1200.png 1200w"
                      sizes="(max-width: 400px) 10vw,
                             (max-width: 800px) 10vw,
                             1200px"
                      alt="Viña Olabarri Crianza" class="container__main__section__wines__image-img" loading="lazy">
                      <figcaption>Viña Olabarri Crianza</figcaption>
                    </figure>
                  </li>
                <li>
                  <div class="container__main__section__wines__info">
                    <strong>Viña Olabarri Reserva</strong>: Un vino de gran cuerpo y con notas de frutos negros y especias. Perfecto para maridar con carnes y quesos añejos.
                  </div>
                  <figure class="container__main__section__wines__image">
                    <img src="../assets/images/reserva-1200.png"
                    srcset="../assets/images/reserva-400.png 400w,
                           ../assets/images/reserva-800.png 800w,
                           ../assets/images/reserva-1200.png 1200w"
                    sizes="(max-width: 400px) 10vw,
                           (max-width: 800px) 10vw,
                           1200px"
                    alt="Viña Olabarri Reserva" loading="lazy">
                    <figcaption>Viña Olabarri Reserva</figcaption>
                  </figure>
                </li>

                <li>
                  <div class="container__main__section__wines__info">
                    <strong>Viña Olabarri Gran Reserva</strong>: Su vino insignia, envejecido cuidadosamente para alcanzar una elegancia y complejidad extraordinarias. Perfecto para ocasiones especiales.
                  </div>
                  <figure class="container__main__section__wines__image">
                    <img src="../assets/images/gran-reserva-1200.png"
                    srcset="../assets/images/gran-reserva-400.png 400w,
                           ../assets/images/gran-reserva-800.png 800w,
                           ../assets/images/gran-reserva-1200.png 1200w"
                    sizes="(max-width: 400px) 10vw,
                           (max-width: 800px) 10vw,
                           1200px"
                    alt="Viña Olabarri Gran Reserva" loading="lazy">
                    <figcaption>Viña Olabarri Gran Reserva</figcaption>
                  </figure>
                </li>
              </ul>
            <p>Para más información sobre sus vinos, visita su <a href="https://vinaolabarri.com/" target="_blank">sitio web oficial</a> y explora su catálogo completo.</p>
        </section>
        
        <section class="container__main__section">
            <h1><i class="fas fa-map"></i>La Experiencia de Visita</h1>
            <p>La bodega Viña Olabarri abre sus puertas a los visitantes para ofrecerles una <strong>experiencia enoturística única</strong> en La Rioja. Durante el recorrido, los visitantes pueden explorar las históricas instalaciones y conocer de cerca el proceso de elaboración del vino. La visita incluye:</p>
            <ul class="container__main__section__experience">
                <li>Un recorrido guiado por las bodegas subterráneas, donde los vinos envejecen en barricas de roble.</li>
                <li>Una cata de sus vinos más representativos, con la oportunidad de degustar sus <q>reservas y grandes reservas</q> directamente desde la barrica.</li>
                <li>Un paseo por los viñedos, donde se explican las características del cultivo de la vid en La Rioja.</li>
            </ul>
            <p class="container__main__section__last"><em>Visitar Viña Olabarri</em> es más que una experiencia de cata; es una inmersión en la cultura y tradición vitivinícola riojana. Las visitas están disponibles previa reserva, lo cual se recomienda especialmente durante la temporada alta.</p>
            <!-- Google Maps -->
            <figure class="container__main__section__figure">
                <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.529457408785!2d-2.970012284220318!3d42.56708103083473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e40827d5f3ab9%3A0x916546aaf5ae104d!2sAnguciana%2C%20La%20Rioja!5e0!3m2!1ses!2ses!4v1616594563412!5m2!1ses!2ses" title="Google Maps Olabarri"  allowfullscreen></iframe>
                <figcaption lang="es">Ubicación Viña Olabarri</figcaption>
            </figure>
            
            <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2917.529457408785!2d-2.970012284220318!3d42.56708103083473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4e40827d5f3ab9%3A0x916546aaf5ae104d!2sAnguciana%2C%20La%20Rioja!5e0!3m2!1ses!2ses!4v1616594563412!5m2!1ses!2ses" allowfullscreen="" loading="lazy"></iframe>-->
        </section>
        
      </main>
    </div>
    <!-- Footer -->
    <include src="./views/footer.html"></include>
    <script type="module" src="../assets/scripts/app.js"></script> 
  </body>
</html>
