<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../assets/styles/main.scss"> 
    <title>Enlaces de referencias</title>
    <link rel="icon" href="../assets/images/favicon.png" type="image/png">
  </head>
  <body>
    <!-- Cabecera -->
    <include src="./views/header.html"></include>

    <!-- Contenedor Principal -->
    <div class="container">

      <!--<nav class="container__nav">
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../views/categoria.html">¿Qu&eacute; visitar?</a></li>
            <li><a href="../views/presentacion.html">Sobre Este Sitio</a></li>
           
        </ul>
      </nav>-->
      <main class="container__main">
        <section class="container__main__links">
            <h1><i class="fas fa-info-circle"></i>Recursos Web</h1>
            <ul>
              <li>
                <a href="https://anguciana.sedelectronica.es/" target="_blank">
                  Ayuntamiento de Anguciana
                  <i class="fas fa-external-link-alt" ></i>
                </a>
              </li>
              <li>
                <a href="https://es.wikipedia.org/wiki/Anguciana#:~:text=Anguciana%20es%20un%20municipio%20y,del%20partido%20judicial%20de%20Haro.&text=T%C3%A9rmino%20municipal%20de%20Anguciana." target="_blank">
                  Página Oficial Wikipedia de Anguciana
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
              <li>
                <a href="https://bodegasolabarri.com/" target="_blank">
                  Web Oficial de Viña Olabarri
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
            </ul>
            <h1><i class="fas fa-camera"></i>Imágenes y Multimedia</h1>
            <ul>    
              <li>
                <a href="https://www.youtube.com/" target="_blank">
                  Videos fiestas de Anguciana
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
              <li>
                <a href="https://www.google.es/maps/place/26210+Anguciana,+La+Rioja/@42.5741395,-2.9017766,17z/data=!3m1!4b1!4m6!3m5!1s0xd4f88dfc6ac09cd:0x4f4679b9d2b3c37!8m2!3d42.5737713!4d-2.9007452!16s%2Fm%2F0h55x8w?hl=es&entry=ttu&g_ep=EgoyMDI0MTAyOS4wIKXMDSoASAFQAw%3D%3D" target="_blank">
                  Sistema de cartografia Google Maps
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
              <li>
                <a href="https://www.lariojasinbarreras.org/guia_larioja_accesible/item/iglesia-de-san-martin/" target="_blank">
                  Información Iglesia de San Martín
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
              <li>
                <a href="https://www.clubrural.com/que-ver/la-rioja/anguciana" target="_blank">
                  Información de Ermita de Oreca
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
              <li>
                <a href="https://www.turismocihuri.com/zonas/ermita-virgen-de-la-esclavitud/" target="_blank">
                  Información Ermita de la Esclavitud
                  <i class="fas fa-external-link-alt"></i>
                </a>
              </li>
            </ul>
            <h1><i class="fas fa-robot"></i>Herramientas de IA</h1>
            <p>En la creación de los textos descriptivos presentes en esta página, se ha contado con el apoyo de la inteligencia artificial, específicamente mediante el uso de ChatGPT, una herramienta desarrollada por OpenAI. Esta tecnología fue utilizada para generar borradores iniciales de contenido, los cuales fueron luego revisados, editados y verificados. De esta manera, hemos combinado los beneficios de la tecnología avanzada con la supervisión y el criterio humano, con el fin de ofrecer información útil y confiable.</p>

        </section>
      </main>
    </div>
    <!-- Footer -->
    <include src="./views/footer.html"></include>
    <script defer type="module" src="../assets/scripts/app.js"></script> 
  </body>
</html>
