<footer class="footer">
  <nav class="footer__nav">
    <div class="footer__nav__icon">
      <img src="../assets/images/logo-1200.png"
      srcset="../assets/images/logo-400.png 400w,
             ../assets/images/logo-800.png 800w,
             ../assets/images/logo-1200.png 1200w"
      sizes="(max-width: 400px) 100vw,
             (max-width: 800px) 100vw,
             1200px"
      alt="Logotipo de Anguciana" class="footer__nav__icon__image" loading="lazy" width="200" height="100">
    </div>
    <ul class="footer__nav__list">
      <li id="inicio" class="footer__links__item"><a href="../index.html" class="footer__links__link">Inicio</a></li>
      <li class="footer__links__item">|</li>
      <li id="categoria" class="footer__links__item"><a href="../views/categoria.html" class="footer__links__link">¿Qu&eacute; visitar?</a></li>
      <li class="footer__links__item">|</li>
      <li id="presentacion" class="footer__links__item"><a href="../views/presentacion.html" class="footer__links__link">Sobre Este Sitio</a></li>
      <li class="footer__links__item">|</li>
      <li id="enlaces" class="footer__links__item"><a href="../views/enlaces.html" class="footer__links__link">Enlaces</a></li>
  </ul>
  
  </nav>
  <div class="footer__content">
      <p class="footer__copyright">© 2024 Alberto Lago Martín.</p>
      <ul class="footer__links">
        <li class="footer__links__item"><a href="#" class="footer__links__link">Política de privacidad</a></li>
        <li class="footer__links__item">|</li>
        <li class="footer__links__item"><a href="#" class="footer__links__link">Términos y condiciones</a></li>
        <li class="footer__links__item">|</li>
        <li class="footer__links__item"><a href="#" class="footer__links__link">Contacto</a></li>
      </ul>
  </div>
</footer>
