<header class="header">
    <img src="../assets/images/logo-1200.png"
     srcset="../assets/images/logo-400.png 400w,
            ../assets/images/logo-800.png 800w,
            ../assets/images/logo-1200.png 1200w"
     sizes="(max-width: 400px) 100vw,
            (max-width: 800px) 100vw,
            1200px"
     alt="Logotipo de Anguciana" class="header__image" loading="lazy" width="200" height="100">
    <h1 class="header__text">Turismo Anguciana</h1>
</header>
<div class="header__subheader">
    <img src="../assets/images/anguciana-header-1200.webp"
    srcset="../assets/images/anguciana-header-400.webp 400w,
           ../assets/images/anguciana-header-800.webp 800w,
           ../assets/images/anguciana-header-1200.webp 1200w"
    sizes="(max-width: 400px) 100vw,
           (max-width: 800px) 100vw,
           1200px"
    alt="Logotipo de Anguciana" class="header__subheader__image" width="1200" height="400">
    <div class="header__subheader__transicion">
        <img src="../assets/images/escudo-180.png"
        srcset="../assets/images/escudo-20.png 400w,
               ../assets/images/escudo-100.png 800w,
               ../assets/images/escudo-180.png 1200w"
        sizes="(max-width: 400px) 100vw,
               (max-width: 800px) 100vw,
               1200px"
        alt="Escudo de Anguciana" loading="lazy" width="60" height="60">
        <p class="header__subheader__transicion__text">Ayuntamiento <br/>Anguciana</p>
    </div>
</div>